.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom right, black, #a42cd6, #ff007f); /* gradient from black to purple to pink */
  color: white; /* making text color white for better readability on dark background */
}

.login-form {
  background-color: rgba(31, 31, 31, 0.8); /* semi-transparent white */
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 400px;
}

.login-form .form-label {
  color: #cacaca; /* dark text color for the form labels, considering the form background is light */
  margin-bottom: 0.5rem; /* space between label and input */
}


.full-width {
  width: 100%; /* This makes sure the input field uses all available space */
  background-color: black;

}


.login-form .form-control {
  margin-bottom: 1.5rem; /* space between input fields */
}

.btn-group {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem; /* space above the button group */
}

.btn-cancel, .btn-login, .btn-new-user {
  color: white;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.3s ease;
  display: inline-block; /* to ensure proper spacing */
}

.login-form .btn-group .btn-login {
    max-width: 85px;
    border-radius: 5px !important;
}

.btn-cancel {
  background-color: #555; /* dark button for cancel */
}

.btn-cancel:hover {
  background-color: #444;
}

.btn-login {
  background-color: #a42cd6; /* purple for login */
  border: none; /* remove default border */
}

.btn-login:hover {
  background-color: #9928c7;
}

.btn-new-user {
  background-color: #ff007f; /* pink for new user */
}

.btn-new-user:hover {
  background-color: #e60072;
}


.banner {
  font-family: 'Swanstone Trial'; /* Choose a cool, bold font */
  font-size: 5rem; /* Adjust size as needed */
  font-weight: bold;
  text-align: center;
  color: transparent; /* Makes the text itself transparent, so the gradient shows */
  background: linear-gradient(to right, #fc236b, #ff2b95); /* Gradient from pink to purple */
  -webkit-background-clip: text; /* Clips the background to the text, so it only shows up on the text */
  background-clip: text;
  letter-spacing: 5px; /* Kerning */
  text-shadow: 2px 2px 45px #ffffff; /* White glow around the text */
  padding: 20px;
  user-select: none; /* Prevents the user from selecting the text */
}

.login-container {
  flex-direction: column; /* Stack children (banner and form) vertically */
  /* other styles remain unchanged */
}